@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    color: #fff;
    background-color: black;
    background-image:
        radial-gradient(at 9% 89%, rgb(94, 63, 23) 0px, transparent 50%),
        radial-gradient(at 72% 6%, rgb(26, 25, 24) 0px, transparent 50%),
        radial-gradient(at 24% 19%, rgb(19, 18, 17) 0px, transparent 50%),
        radial-gradient(at 65% 6%, rgb(62, 216, 230) 0px, transparent 50%),
        radial-gradient(at 20% 98%, rgb(31, 25, 21) 0px, transparent 50%),
        radial-gradient(at 44% 9%, rgb(134, 112, 112) 0px, transparent 50%),
        radial-gradient(at 10% 9%, rgb(20, 20, 24) 0px, transparent 50%);
    min-height: 100vh;
}

.btn{
    margin-top: 20px;
    width:15%;
    height: 45px;
    margin-left: 15px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffffff;  
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    border-color: #F8790A;
    background-color: #F8790A;
}

.container{
    display: flex;
    justify-content: center;
}


.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 25vh;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.56);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.logo{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: -10px;
}



.content{
    display: flex;
    width: 100%;
}

.main{
    margin-top: 4vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
}

.main p{
    font-size: 16px;
    line-height: 23px;
}

@media screen and (max-width: 720px) {
    .logo{
        font-size: 22px;
    }
    li.nav-link{
        font-size: 13px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    button{
        
        font-size: 8px;
    }
    .image-wrapper img{
        max-width: 400px;
    }
}